<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">
    <contextName>xplan</contextName>
    <jmxConfigurator/>
    <!-- direct log messages to stdout -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %highlight(%-5p) %green(|-%c{35}:%L) %white - %m %n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>myApp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>%d{yyyy-MM,aux}/myAppLog.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %5p |-%c{35}:%L - %m %n</pattern>
        </encoder>
    </appender>


    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.shiro" level="INFO"/>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.transaction" level="INFO"/>
    <logger name="org.springframework.beans.factory.support" level="WARN"/>
    <logger name="org.springframework.web.context.support" level="WARN"/>
    <logger name="org.springframework.web.servlet.mvc" level="WARN"/>


    <logger name="org.eclipse.jetty" level="INFO"/>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="stdout"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
